extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/layout.js')

  for row in data
    img(src=row.path)
    br
    a(href='/blog/' + row.slug) #{row.title}
    p #{row.author}
    if (user)
      a(href='/blog/edit/' + row.slug) Edit
      br
      a(href='/blog/delete/' + row.slug) Delete
    p _______

  if (user)
    a(href='/blog/create') Create
