extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/layout.js')

  if error
    p #{error}
  else
    for row in data
      p #{row.title}
      p #{row.author}
      p #{row.information}
  a(href='/blog') Back
