extends layout

block content

    body   
        link(rel='stylesheet', href='/stylesheets/coin.css')             
        script(src='/javascripts/coin.js')        
        h1#mainTitle Cryptocurrency Market Caps and Pricing
        #coinInfo.grid-coins
            #coinRank.headerTitles #
            #coinImg.headerTitles        
            #coinName.headerTitles Coin Name
            #priceUsd.headerTitles Price (USD)
            #marketCap.headerTitles Market Cap (USD)
    
