extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/layout.js')
  

  form(role='form', method='post', action='/api/exercise/new-user')
    h4 Add User:
    .box-body
        .form-group
            input(type='text',name='username',placeholder='Enter Username', autofocus).form-control
    .box-footer
      if err
        p #{err}
      button(type='submit').btn.btn-primary
        | Submit

  form(role='form', method='post', action='/api/exercise/add')
    h4 Add Exercises:
    .box-body
        .form-group
            input(type='text',name='user_id',placeholder='User ID*', autofocus).form-control
        .form-group
            input(type='text',name='description',placeholder='Description*').form-control
        .form-group
            input(type='number',name='duration',placeholder='Duration* (mins)').form-control
        .form-group
            input(type='date',name='date',placeholder='Date (yyyy-mm-dd)').form-control            
    .box-footer
      button(type='submit').btn.btn-primary
        | Submit