doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/layout.js')
    script(src='https://use.fontawesome.com/43000f363c.js')
    link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans", rel="stylesheet")
    <meta name="viewport" content="width=device-width, initial-scale=1">
  header
    .home
      p Andrew Pender
    .navigation
      a(href='/') work
      span   /#{'  '}
      a(href='/blog') blog
    .social
      if (user)
        a(href='/logout') Logout
      else
        p Neat
  body
    block content
