extends layout

block content
    head
        title

    h1 Login:
    form(id='signin' name='signin' method='post' action='signin')
        label Email Address
            input(class='text', name='email', type='text')
        label Password
            input(name='password', type='password')
        input(class='btn', type='submit', value='Sign In')

    h1 Create Account:
    form(id='signup', name='signup', method='post' action ='/signup')
        label Email Address
            input(class='text', name='email', type='email')
        label First Name
            input(name='firstname', type='text')
        label Last Name
            input(name='lastname', type='text')
        label Password
            input(name='password', type='password')
        input(class='btn', type='submit', value='Sign Up')