body {
    position: relative;    
    background-image: url("/images/lily.jpg");
    background-color: #cccccc;
    background-repeat:no-repeat;
    background-size:100% 100vh;    
 }

 h1 {
     color: white;
 }