#quoteBody {
  margin-top: 15%;
  padding: 2em 1em 2em 1em;
  background: white;
  text-align: center;
}

#buttonBody {
  background: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

#twitterPost {
  background: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.btn {
  color: white;  
  float: right;
  margin-top: 0.7em;
}

footer {
  color: white;
  text-align: center;
}

a { 
  color: inherit; 
} 

.fa-twitter:hover { 
  text-decoration: none;
}

.twitterPost [class*="fa fa-"] {
  border-radius: 60px;
  height: 1em;
  line-height: 60px;
  font-size: 60px;
  text-align: center;
}

.container {
  font-size: 20px;
}