#quoteBody {
  margin-top: 15%;
  padding-top: 2em;
  background: white;
  text-align: center;
  padding-bottom: 2em;
}

#buttonBody {
  background: white;
  padding-top: 2em;
  padding-bottom: 2em;
}

#twitterPost {
  background: white;
  padding-bottom: 2em;
}

.btn {
  color: white;  
  float: right;
}

footer {
  color: white;
  text-align: center;
}

a { 
  color: inherit; 
} 

.fa-twitter:hover { 
  text-decoration: none;
}

.twitterPost [class*="fa fa-"] {
  border-radius: 60px;
  height: 60px;
  line-height: 60px;
  margin: auto 3px;
  width: 60px;
  font-size: 60px;
  text-align: center;
}

.container {
  font-size: 1.5em;
}