#quoteBody {
  padding: 2em 1em 0em 1em;
  background: white;
  text-align: center;
}

#buttonBody {
  background: white;
  padding-bottom: 1em;
}

#twitterPost {
  background: white;
  padding-bottom: 1em;
}

.btn {
  color: white;  
  float: right;
  margin-top: 0.7em;
}

footer {
  color: white;
  text-align: center;
}

a { 
  color: inherit; 
} 

.fa-twitter:hover { 
  text-decoration: none;
}

.twitterPost [class*="fa fa-"] {
  height: 1em;
  font-size: 3em;
  text-align: center;
}

.container {
  font-size: 1em;
}
