body {
    background-color: teal;
}
  
a,
a:hover {
text-decoration: none !important;
color: white;
}
.complete {
position: absolute;
top: 50%;
transform: translateY(-50%);
}

#results {
background-color: white;
color: black;
margin: 10px;
}

h1 {
margin-top: 10px;
font-family: 'Acme', sans-serif;
src: url(https://fonts.googleapis.com/css?family=Acme);
color: #FFA726;
}

button {
margin-bottom: 10px;
}